.mediahub-card__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  gap: 16px;
  justify-content: center;
}

.mediahub-card__list-item {
  list-style: none;
}

.mediahub-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  background-color: var(--mediahub-card-bg);
  border: var(--mediahub-card-border);
  border-radius: var(--mediahub-card-border-radius);
  color: var(--mediahub-card-fg);
  box-shadow: var(--mediahub-card-box-shadow);
  border-bottom: 2px rgba(40,40,40,0.35) solid;
  border-right: 2px rgba(40,40,40,0.35) solid;
  backdrop-filter: blur(3px);
  text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #7eeeee;
  transition: 0.1s background-color ease-in-out, 0.3s color ease-in-out;
  height: 100%;
  justify-content: center;
}

.mediahub-card:hover {
  color: var(--mediahub-card-hover-fg);
}

.mediahub-card__heading {
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  font-size: 29px;
  margin: 0;
  padding: 0;
}

.mediahub-card__subheading {
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.mediahub-card__image {
  max-height: 60px;
  max-width: 300px;
  width: auto;
}

.custom-card__list-item {
  position: relative;
  overflow: hidden;
  height: 200px;
  background-size: cover;
  background-position: center;
  border: var(--mediahub-card-border);
  border-radius: var(--mediahub-card-border-radius);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #7eeeee;
}


.custom-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 让图片填充满整个背景 */
  opacity: 0.7; /* 调整透明度，给人一种蒙上一层灰色幕布的效果 */
}

.custom-card__heading {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* 半透明黑色背景，用于突出文字 */
  color: #fff; /* 文字颜色为白色 */
  padding: 10px;
  box-sizing: border-box; /* 包括padding在内计算宽度 */
  font-size: 18px;
}

.custom-card__subheading {
  text-align: center;
  color: #fff; /* 文字颜色为白色 */
  font-size: 14px;
  position: absolute;
  bottom: 10px; /* 调整文字位置 */
  width: 100%;
  box-sizing: border-box; /* 包括padding在内计算宽度 */
}