@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: swal2-toast-animate-success-line-tip .75s
}

.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-long {
    animation: swal2-toast-animate-success-line-long .75s
}

.swal2-popup.swal2-toast.swal2-show {
    animation: swal2-toast-show .5s
}

div:where(.swal2-container) {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:"top-start     top            top-end" "center-start  center         center-end" "bottom-start  bottom-center  bottom-end";
    grid-template-rows:minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
    height: 100%;
    inset: 0;
    overflow-x: hidden;
    padding: .625em;
    position: fixed;
    transition: background-color .1s;
    z-index: 1060
}

div:where(.swal2-container).swal2-backdrop-show {
    background: rgba(0, 0, 0, .4)
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #545454;
    display: none;
    font-family: inherit;
    font-size: 1rem;
    grid-template-columns:minmax(0, 100%);
    max-width: 100%;
    padding: 0 0 1.25em;
    position: relative;
    width: 32em
}

div:where(.swal2-container) div:where(.swal2-popup):focus {
    outline: none
}

div:where(.swal2-container) h2:where(.swal2-title) {
    word-wrap: break-word;
    color: inherit;
    font-size: 1.875em;
    font-weight: 600;
    margin: 0;
    max-width: 100%;
    padding: .8em 1em 0;
    position: relative;
    text-align: center;
    text-transform: none
}

div:where(.swal2-container) div:where(.swal2-actions) {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.25em auto 0;
    padding: 0;
    width: auto;
    z-index: 1
}

div:where(.swal2-container) div:where(.swal2-loader) {
    align-items: center;
    animation: swal2-rotate-loading 1.5s linear 0s infinite normal;
    border-color: #2778c4 transparent;
    border-radius: 100%;
    border-style: solid;
    border-width: .25em;
    display: none;
    height: 2.2em;
    justify-content: center;
    margin: 0 1.875em;
    width: 2.2em
}

div:where(.swal2-container) button:where(.swal2-styled) {
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
    margin: .3125em;
    padding: .625em 1.1em;
    transition: box-shadow .1s
}

div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
    cursor: pointer
}

div:where(.swal2-container) button:where(.swal2-styled):focus {
    outline: none
}

div:where(.swal2-container) button:where(.swal2-styled)::-moz-focus-inner {
    border: 0
}

div:where(.swal2-container) div:where(.swal2-footer) {
    border-top: 1px solid #eee;
    color: inherit;
    font-size: 1em;
    margin: 1em 0 0;
    padding: 1em 1em 0;
    text-align: center
}

div:where(.swal2-container) div:where(.swal2-timer-progress-bar) {
    background: rgba(0, 0, 0, .2);
    height: .25em;
    width: 100%
}

div:where(.swal2-container) img:where(.swal2-image) {
    margin: 2em auto 1em;
    max-width: 100%
}

div:where(.swal2-container) button:where(.swal2-close) {
    align-items: center;
    background: transparent;
    border: none;
    border-radius: 5px;
    color: #ccc;
    cursor: pointer;
    font-family: monospace;
    font-size: 2.5em;
    height: 1.2em;
    justify-content: center;
    justify-self: end;
    margin-bottom: -1.2em;
    margin-right: 0;
    margin-top: 0;
    overflow: hidden;
    padding: 0;
    transition: color .1s, box-shadow .1s;
    width: 1.2em;
    z-index: 2
}

div:where(.swal2-container) button:where(.swal2-close):hover {
    background: transparent;
    color: #f27474;
    transform: none
}

div:where(.swal2-container) button:where(.swal2-close):focus {
    box-shadow: inset 0 0 0 3px rgba(100, 150, 200, .5);
    outline: none
}

div:where(.swal2-container) button:where(.swal2-close)::-moz-focus-inner {
    border: 0
}

div:where(.swal2-container) div:where(.swal2-radio), div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) label:where(.swal2-checkbox), div:where(.swal2-container) select:where(.swal2-select), div:where(.swal2-container) textarea:where(.swal2-textarea) {
    margin: 1em 2em 3px
}

div:where(.swal2-container) input:where(.swal2-file), div:where(.swal2-container) input:where(.swal2-input), div:where(.swal2-container) textarea:where(.swal2-textarea) {
    background: transparent;
    border: 1px solid #d9d9d9;
    border-radius: .1875em;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06), 0 0 0 3px transparent;
    box-sizing: border-box;
    color: inherit;
    font-size: 1.125em;
    transition: border-color .1s, box-shadow .1s;
    width: auto
}

div:where(.swal2-container) input:where(.swal2-file):focus, div:where(.swal2-container) input:where(.swal2-input):focus, div:where(.swal2-container) textarea:where(.swal2-textarea):focus {
    border: 1px solid #b4dbed;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06), 0 0 0 3px rgba(100, 150, 200, .5);
    outline: none
}

div:where(.swal2-container) input:where(.swal2-file)::-moz-placeholder, div:where(.swal2-container) input:where(.swal2-input)::-moz-placeholder, div:where(.swal2-container) textarea:where(.swal2-textarea)::-moz-placeholder {
    color: #ccc
}

div:where(.swal2-container) input:where(.swal2-file)::placeholder, div:where(.swal2-container) input:where(.swal2-input)::placeholder, div:where(.swal2-container) textarea:where(.swal2-textarea)::placeholder {
    color: #ccc
}

div:where(.swal2-container) label:where(.swal2-input-label) {
    display: flex;
    justify-content: center;
    margin: 1em auto 0
}

div:where(.swal2-container) div:where(.swal2-validation-message) {
    align-items: center;
    background: #f0f0f0;
    color: #666;
    font-size: 1em;
    font-weight: 300;
    justify-content: center;
    margin: 1em 0 0;
    overflow: hidden;
    padding: .625em
}

div:where(.swal2-container) div:where(.swal2-validation-message):before {
    background-color: #f27474;
    border-radius: 50%;
    color: #fff;
    content: "!";
    display: inline-block;
    font-weight: 600;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 .625em;
    min-width: 1.5em;
    text-align: center;
    width: 1.5em
}

div:where(.swal2-icon) {
    border: .25em solid #000;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: default;
    font-family: inherit;
    height: 5em;
    justify-content: center;
    line-height: 5em;
    margin: 2.5em auto .6em;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 5em
}

div:where(.swal2-icon).swal2-error.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-error.swal2-icon-show .swal2-x-mark {
    animation: swal2-animate-error-x-mark .5s
}

div:where(.swal2-icon).swal2-warning.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-warning.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-i-mark .5s
}

div:where(.swal2-icon).swal2-info.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-info.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-i-mark .8s
}

div:where(.swal2-icon).swal2-question.swal2-icon-show {
    animation: swal2-animate-error-icon .5s
}

div:where(.swal2-icon).swal2-question.swal2-icon-show .swal2-icon-content {
    animation: swal2-animate-question-mark .8s
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-tip {
    animation: swal2-animate-success-line-tip .75s
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-line-long {
    animation: swal2-animate-success-line-long .75s
}

div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-circular-line-right {
    animation: swal2-rotate-success-circular-line 4.25s ease-in
}

.swal2-show {
    animation: swal2-show .3s
}

@keyframes swal2-toast-show {
    0% {
        transform: translateY(-.625em) rotate(2deg)
    }
    33% {
        transform: translateY(0) rotate(-2deg)
    }
    66% {
        transform: translateY(.3125em) rotate(2deg)
    }
    to {
        transform: translateY(0) rotate(0deg)
    }
}

@keyframes swal2-toast-hide {
    to {
        opacity: 0;
        transform: rotate(1deg)
    }
}

@keyframes swal2-toast-animate-success-line-tip {
    0% {
        left: .0625em;
        top: .5625em;
        width: 0
    }
    54% {
        left: .125em;
        top: .125em;
        width: 0
    }
    70% {
        left: -.25em;
        top: .625em;
        width: 1.625em
    }
    84% {
        left: .75em;
        top: 1.0625em;
        width: .5em
    }
    to {
        left: .1875em;
        top: 1.125em;
        width: .75em
    }
}

@keyframes swal2-toast-animate-success-line-long {
    0% {
        right: 1.375em;
        top: 1.625em;
        width: 0
    }
    65% {
        right: .9375em;
        top: 1.25em;
        width: 0
    }
    84% {
        right: 0;
        top: .9375em;
        width: 1.125em
    }
    to {
        right: .1875em;
        top: .9375em;
        width: 1.375em
    }
}

@keyframes swal2-show {
    0% {
        transform: scale(.7)
    }
    45% {
        transform: scale(1.05)
    }
    80% {
        transform: scale(.95)
    }
    to {
        transform: scale(1)
    }
}

@keyframes swal2-hide {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    to {
        opacity: 0;
        transform: scale(.5)
    }
}

@keyframes swal2-animate-success-line-tip {
    0% {
        left: .0625em;
        top: 1.1875em;
        width: 0
    }
    54% {
        left: .125em;
        top: 1.0625em;
        width: 0
    }
    70% {
        left: -.375em;
        top: 2.1875em;
        width: 3.125em
    }
    84% {
        left: 1.3125em;
        top: 3em;
        width: 1.0625em
    }
    to {
        left: .8125em;
        top: 2.8125em;
        width: 1.5625em
    }
}

@keyframes swal2-animate-success-line-long {
    0% {
        right: 2.875em;
        top: 3.375em;
        width: 0
    }
    65% {
        right: 2.875em;
        top: 3.375em;
        width: 0
    }
    84% {
        right: 0;
        top: 2.1875em;
        width: 3.4375em
    }
    to {
        right: .5em;
        top: 2.375em;
        width: 2.9375em
    }
}

@keyframes swal2-rotate-success-circular-line {
    0% {
        transform: rotate(-45deg)
    }
    5% {
        transform: rotate(-45deg)
    }
    12% {
        transform: rotate(-405deg)
    }
    to {
        transform: rotate(-405deg)
    }
}

@keyframes swal2-animate-error-x-mark {
    0% {
        margin-top: 1.625em;
        opacity: 0;
        transform: scale(.4)
    }
    50% {
        margin-top: 1.625em;
        opacity: 0;
        transform: scale(.4)
    }
    80% {
        margin-top: -.375em;
        transform: scale(1.15)
    }
    to {
        margin-top: 0;
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes swal2-animate-error-icon {
    0% {
        opacity: 0;
        transform: rotateX(100deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0deg)
    }
}

@keyframes swal2-rotate-loading {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

@keyframes swal2-animate-question-mark {
    0% {
        transform: rotateY(-1turn)
    }
    to {
        transform: rotateY(0)
    }
}

@keyframes swal2-animate-i-mark {
    0% {
        opacity: 0;
        transform: rotate(45deg)
    }
    25% {
        opacity: .4;
        transform: rotate(-25deg)
    }
    50% {
        opacity: .8;
        transform: rotate(15deg)
    }
    75% {
        opacity: 1;
        transform: rotate(-5deg)
    }
    to {
        opacity: 1;
        transform: rotateX(0)
    }
}

html {
    background-image: url('../../img/loginpage_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat
}

body {
    font-family: Poppins, sans-serif;
    height: 100vh
}

a {
    color: #92badd;
    font-weight: 400;
    text-decoration: none
}

a, h2 {
    display: inline-block
}

h2 {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    padding: 20px;
    width: 100%
}

#formContent {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    max-width: 450px;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light border for glass effect */
    backdrop-filter: blur(10px); /* Blur background for frosted glass effect */
}

#formFooter {
    background-color: rgba(0,191,255, 0.075);
    border-radius: 10px;
    border-top: 1px solid #dce8f1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 8px #fff; /* 发光效果 */

}

h2.inactive {
    color: #fff
}

h2.active {
    border-bottom: 2px solid #5fbae9;
    color: #0d0d0d
}

input[type=button], input[type=reset], input[type=submit] {
    background-color: #56baed;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, .4);
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 5px 20px 40px;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out
}

input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
    background-color: #39ace7
}

input[type=button]:active, input[type=reset]:active, input[type=submit]:active {
    transform: scale(.95)
}

input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    width: 85%;
    backdrop-filter: blur(5px)
}

input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid #5fbae9
}

input[type=text]::-moz-placeholder {
    color: #ccc
}

input[type=text]::placeholder {
    color: #ffffff;
    opacity: 1
}
input[type=text]:focus::placeholder {
    opacity: 0;
}
input[type=password] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    width: 85%;
    backdrop-filter: blur(5px)
}

input[type=password]:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #5fbae9
}

input[type=password]::-moz-placeholder {
    color: #ccc
}

input[type=password]::placeholder {
    color: #ffffff;
    opacity: 1
}
input[type=password]:focus::placeholder {
    opacity: 0;
}
button {
    background-color: #59b7e7;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, .4);
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 5px 20px 25px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
    border-radius: 10px;

}

button:hover {
    background-color: #39ace7
}

button:active {
    transform: scale(.95)
}

.fadeInDown {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInDown
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    animation: fadeIn ease-in 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0
}

.fadeIn.first {
    animation-delay: .4s
}

.fadeIn.second {
    animation-delay: .6s
}

.fadeIn.third {
    animation-delay: .8s
}

.fadeIn.fourth {
    animation-delay: 1s
}

.underlineHover:after {
    background-color: #56baed;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    transition: width .2s;
    width: 0
}

.underlineHover:hover {
    color: #0d0d0d
}

.underlineHover:hover:after {
    width: 100%
}

:focus {
    outline: none
}

#icon {
    width: 60%
}

* {
    box-sizing: border-box
}

.text {
    fill: none;
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-dasharray: 70px;
    stroke-dashoffset: 0;
    animation: stroke 6s linear infinite;
    font-size: 9em;
    text-transform: uppercase
}

.text:nth-child(5n+1) {
    stroke: #ffffff;
    animation-delay: -1.2s
}

.text:nth-child(5n+2) {
    stroke: #f5a503;
    animation-delay: -2.4s
}

.text:nth-child(5n+3) {
    stroke: #e9f1df;
    animation-delay: -3.6s
}

.text:nth-child(5n+4) {
    stroke: #56d9cd;
    animation-delay: -4.8s
}

.text:nth-child(5n+5) {
    stroke: #3aa1bf;
    animation-delay: -6s
}

@keyframes stroke {
    to {
        stroke-dashoffset: -400
    }
}

.alert {
    border: solid transparent;
    border-radius: 3px;
    border-width: 1px 1px 4px;
    margin-bottom: 20px;
    padding: 15px
}

.alert h4 {
    color: inherit;
    margin-top: 0
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert-dismissable {
    padding-right: 35px
}

.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px
}

.modal {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.alert-info {
    background-color: #3498db;
    border-color: #2386c8;
    color: #fff
}

.alert-info hr {
    border-top-color: #2077b2
}

.alert-danger {
    background-color: #e74c3c;
    border-color: #e43725;
    color: #fff
}

.alert-danger hr {
    border-top-color: #d62c1a
}

input[type=email] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
    width: 85%;
    backdrop-filter: blur(5px)
}

input[type=email]:focus {
    background-color : rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #5fbae9
}


input[type=email]::-moz-placeholder {
    color: #ccc
}

input[type=email]::placeholder {
    color: #ffffff;
    opacity: 1
}
input[type=email]:focus::placeholder {
    opacity: 0;
}

.text-center {
    text-align: center
}

.sitebanner {
    height: 90px;
    max-width: 800px;
    width: 90%
}

.form-group {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}