:root {
  --message-bubble-bg: #ffffff00;
  --message-bubble-fg: currentColor;

  --achievement-fg: inherit;
  --achievement-bg: #ffffff00;
  --achievement-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --achievement-progress-bg: #ffffff00;

  --article-card-bg: #ffffff00;
  --article-card-fg: #ffffff;
  --article-card-head-fg: #ffffff;
  --article-card-time-fg: #ffffff;
  --article-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

  --bbcode-input-header-bg: #ffffff00;
  --bbcode-input-body-bg: #ffffff00;
  --bbcode-input-border: 1px solid #555;
  --bbcode-input-border-radius: 16px;

  --bbcode-rendered-fg-default: #ffffff;
  --bbcode-rendered-fg-muted: #ffffff;
  --bbcode-rendered-fg-subtle: #ffffff;
  --bbcode-rendered-canvas-default: transparent;
  --bbcode-rendered-canvas-subtle: #ececec;
  --bbcode-rendered-border-default: #bebebe;
  --bbcode-rendered-border-muted: #babbbd;
  --bbcode-rendered-neutral-muted: #aeb3b833;
  --bbcode-rendered-accent-fg: #00a287;
  --bbcode-rendered-accent-emphasis: #0969da;
  --bbcode-rendered-attention-subtle: #7289da;
  --bbcode-rendered-danger-fg: #ff141ccc;
  --bbcode-rendered-quote-bg: #ffffff00;
  --bbcode-rendered-quote-border: #ffffff00;
  --breadcrumb-fg: #ffffff;
  --breadcrumb-active-fg: #ffffff;
  --breadcrumb-hover-fg: #aaffe2;
  --breadcrumb-inactive-text-decoration: none;

  --button-filled-bg: #63ca85 linear-gradient(to bottom right,#6bddab,#658a78);
  --button-filled-border: none;
  --button-filled-border-radius: 9999px;
  --button-filled-fg: white;



  --button-outlined-bg: #ffffff00;
  --button-outlined-border: 1px solid;
  --button-outlined-border-radius: 9999px;
  --button-outlined-fg: currentColor;

  --button-text-bg: inherit;
  --button-text-border: 2px rgba(255, 255, 255, 0.4) solid;
  --button-text-border-radius: 12px;
  --button-text-fg: #ffffff;

  --comparison-divider-fg: #ffffff;
  --comparison-button-fg: #ffffff;

  --data-table-fg: inherit;
  --data-table-th-bg: #ffffff00;
  --data-table-thead-border: 1px solid rgba(14, 21, 34, 0.25);
  --data-table-tr-border: 1px solid #dddddd00;
  --data-table-tr-even-bg: #ffffff00;
  --data-table-tr-hover-bg: #ffffff00;
  --data-table-tr-odd-bg: #ffffff00;
  --data-table-tfoot-border: 3px solid rgba(14, 21, 34, 0.25);

  --dialog-bg: #ffffff00;
  --dialog-border: 1px solid #ddd;
  --dialog-border-radius: 10px;
  --dialog-box-shadow: 0 5px 5px rgba(93, 93, 93, 0.83);
  --dialog-fg: #ffffff;
  --dialog-head-bg: #ffffff00;
  --dialog-head-fg: #ffffff;

  --fieldset-bg: inherit;
  --fieldset-fg: #ffffff;
  --fieldset-border-radius: 5px;
  --fieldset-border: 1px solid #555;

  --icon-button-bg: inherit;
  --icon-button-border: none;
  --icon-button-border-radius: 9999px;
  --icon-button-fg: currentColor;

  --icon-button-filled-bg: #5cb57900;
  --icon-button-filled-fg: white;
  --icon-button-filled-border: none;

  --input-text-border: 1px solid #ffffff00;
  --input-text-border-active: 2px solid #ffffff00;
  --input-text-border-error: 1px solid #ff000000;
  --input-text-border-hover: 2px solid #ffffff00;
  --input-text-border-radius: 16px;
  --input-text-fg: #000000;
  --input-text-padding: 5px 10px;
  --input-text-padding-active: 5px 10px;
  --input-text-padding-hover: 5px 10px;

  --key-value-even-bg: #ffffff00;
  --key-value-fg: inherit;
  --key-value-odd-bg: #ffffff00;
  --key-value-padding: 10px;

  --label-bg: #ffffff00;
  --label-fg: #ffffff;
  --label-fg-active: #ffffff;
  --label-fg-error: #ba1b1b;
  --label-fg-hover: #ffffff;

  --legend-fg: #ffffff;
  --legend-bg: transparent;
  --legend-border: none;
  --legend-border-radius: 0;

  --meta-backdrop-filter:  brightness(150%) contrast(30%);
  --meta-dropdown-backdrop-filter:  brightness(130%) blur(10px);
  --meta-dropdown-bg: #ffffff00;
  --meta-dropdown-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-dropdown-hover-bg: rgba(255,255,255,0.1);
  --meta-dropdown-fg: #ffffff;
  --meta-dropdown-hover-fg: #000;
  --meta-description-fg: #ffffff;
  --meta-id-tag-fg: #ffffff;
  --meta-id-tag-bg: transparent;
  --meta-id-tag-hover-fg: #ffffff;
  --meta-id-tag-hover-bg: rgba(255,255,255,0.4);
  --meta-chips-heading-fg: #ffffff;
  --meta-chip-backdrop-filter-hover:  brightness(130%) blur(10px);
  --meta-chip-hover-bg: rgba(255,255,255,0.4);
  --meta-chip-icon-fg: #ffffff;
  --meta-chip-icon-hover-bg: #ffffff00;
  --meta-chip-icon-bg: #ffffff00;
  --meta-chip-name-fg: #ffffff;
  --meta-chip-value-fg: #ffffff;
  --meta-chip-value-hover-fg: #ffffff;
  --meter-fg: #ffffff;
  --meter-bg: #ffffff00;

  --notification-read: transparent;
  --notification-unread: #db6969;

  --paginate-bg: #ffffff00;
  --paginate-bg-hover: #ffffff00;
  --paginate-bg-current: #ffffff00;
  --paginate-fg: #ffffff;
  --paginate-fg-disabled: #eaee4c;
  --paginate-divider: #888;

  --panel-action-fg: #ffffff;
  --panel-border: 2px rgba(255, 255, 255, 0.4) solid;
  --panel-bg: #ffffff00;
  --panel-fg: inherit;
  --panel-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  --panel-border-radius: 20px;
  --panel-head-bg: rgba(255, 255, 255, 0);
  --panel-head-fg: #ffffff;
  --post-bg: #ffffff00;
  --post-fg: #ffffff;
  --post-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  --post-head-fg: var(--panel-fg);
  --post-head-bg: none;
  --post-toolbar-bg: #ffffff00;
  --post-toolbar-fg: #ffffff;
  --post-toolbar-hover-bg: #777;
  --post-toolbar-hover-fg: inherit;
  --post-like-fg: green;
  --post-dislike-fg: red;
  --post-aside-bg: #ffffff00;
  --post-aside-fg: #ffffff;
  --post-footer-fg: var(--panel-fg);

  --quick-search-bg: rgba(84, 107, 115, 0.035);
  --quick-search-fg: #ffffff;
  --quick-search-border: 1px solid transparent;
  --quick-search-border-radius: 16px;
  --quick-search-box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  --quick-search-selector-fg: #ffffff;
  --quick-search-selector-hover-bg: rgba(135, 85, 195, 0.8);
  --quick-search-selector-hover-fg: #ddd;
  --quick-search-selector-selected-bg: #rgba(135, 85, 195, 0.8);
  --quick-search-selector-selected-fg: #ffffff;
  --quick-search-result-bg: #60625263;
  --quick-search-result-fg: #ffffff;
  --quick-search-result-hover-bg: #CBCEB5A1;
  --quick-search-result-hover-fg: rgb(255, 255, 255);
  --quick-search-result-image-border-radius: 5px;
  --quick-search-result-year-fg: #ffffff;
  --quick-search-result-border: none;

  --scrollbar-color: #0004;

  --secondary-nav-bg: #ffffff00;
  --secondary-nav-tab-fg: #ffffff;
  --secondary-nav-tab-bg: #8db888c2;
  --secondary-nav-tab-active-text-decoration: underline #ffffff00 2px;
  --secondary-nav-tab-hover-fg: #ddd;
  --secondary-nav-tab-hover-bg: transparent;
  --secondary-nav-tab-hover-text-decoration: underline #ffffff 2px;
  --secondary-nav-tab-menu-bg: #ffffff00;
  --secondary-nav-tab-menu-fg: #ffffff;
  --secondary-nav-tab-menu-border: none;
  --secondary-nav-tab-menu-border-radius: 6px;
  --secondary-nav-tab-menu-box-shadow: none;
  /*    --select-border: 1px solid #55555500;
      --select-border-active: 2px solid #2195f300;
      --select-border-error: 1px solid #ba1b1b00;
      --select-border-hover: 2px solid #99999900;*/
  --select-border-radius: 25px;
  --select-fg: #000000;
  --select-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='%23bbb' d='M6 8l-1 1l5 5l5-5l-1-1l-4 4l-4-4z'/></svg>");
  --select-padding: 11px 23px 11px 11px;
  --select-padding-active: 10px 22px 10px 10px;
  --select-padding-hover: 10px 22px 10px 10px;


  --subforum-listing-odd-bg: #ffffff00;
  --subforum-listing-even-bg: transparent;
  --subforum-listing-border: none;

  --textarea-border: 1px solid #ffffff00;
  --textarea-border-active: 2px solid #ffffff00;
  --textarea-border-error: 1px solid #ba1b1b;
  --textarea-border-hover: 2px solid #ffffff00;
  --textarea-border-radius: 20px;
  --textarea-fg: #ffffff;
  --textarea-padding: 12px;
  --textarea-padding-active: 11px;
  --textarea-padding-hover: 11px;

  --top-nav-bg: rgba(255, 255, 255, 0.1);
  --top-nav-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  --top-nav-dropdown-fg: #ffffff;
  --top-nav-dropdown-hover-fg: #ffffff;
  --top-nav-dropdown-hover-bg: #ffffff00;
  --top-nav-dropdown-hover-text-decoration: none;
  --top-nav-dropdown-menu-bg: linear-gradient(-45deg, rgba(179, 243, 147, 0.78), rgba(141, 192, 115, 0.78), rgba(105, 143, 86, 0.78), rgba(107, 178, 83, 0.74));
  --top-nav-dropdown-menu-border: none;
  --top-nav-dropdown-menu-border-radius: 12px;
  --top-nav-dropdown-menu-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  --top-nav-dropdown-menu-item-fg: #ffffff;
  --top-nav-dropdown-menu-item-bg: transparent;
  --top-nav-dropdown-menu-item-hover-fg: inherit;
  --top-nav-dropdown-menu-item-hover-bg: #ffffff00;
  --top-nav-dropdown-menu-item-hover-text-decoration: none;
  --top-nav-dropdown-menu-item-icon-fg: #ffffff;
  --top-nav-dropdown-menu-item-icon-bg: #ffffff00;
  --top-nav-ratio-bar-fg: #ffffff;
  --top-nav-icon-bar-icon-bg: #ffffff00;
  --top-nav-icon-bar-icon-fg: #ffffff;
  --top-nav-icon-bar-icon-border-radius: 50%;
  --top-nav-icon-bar-icon-hover-bg: #458551b5;
  --top-nav-icon-bar-icon-hover-fg: #ffffff;
  --top-nav-stats-fg: #ffffff;
  --top-nav-toggle-fg: #ffffff;

  --torrent-card-bg: #ffffff00;
  --torrent-card-fg: inherit;
  --torrent-card-border: 1px solid #ddd;
  --torrent-card-head-bg: #ffffff00;
  --torrent-card-head-fg: #ffffff;
  --torrent-card-link-fg: #ffffff;
  --torrent-card-genre-fg: #ffffff;
  --torrent-group-bg: #ffffff00;
  --torrent-group-header-bg: #ffffff00;
  --torrent-group-text: #ffffff;
  --torrent-group-text-muted: #ffffff;
  --torrent-group-table-stripe: rgba(0, 0, 0, 0.05);
  --torrent-group-hover-brightness-emphasis: 1.13;
  --torrent-group-chip-border: #eee;

  --torrent-row-fg: #ffffff;
  --torrent-row-visited-fg: #affff2;
  --torrent-row-sticky-bg: #df430930;
  --torrent-row-format-fg: #ffffff;
  --torrent-row-format-bg: #ffffff00;
  --torrent-row-buttons-fg: currentColor;
  --torrent-row-seeders-fg: #3cff00;
  --torrent-row-leechers-fg: #ff0039;
  --torrent-row-completed-fg: #00ffd8;
  --torrent-row-thanks-fg: #f92672;
  --torrent-row-comments-fg: #51ff17;
  --torrent-row-internal-fg: #ff00ca;
  --torrent-row-personal-fg: #865be9;
  --torrent-row-stream-optimized-fg: #ff0039;
  --torrent-row-featured-fg: #f92672;
  --torrent-row-freeleech-fg: #f8ff00;
  --torrent-row-double-upload-fg: #43ff04;
  --torrent-row-sticky-fg: #ffffff;
  --torrent-row-highspeed-fg: #ff0039;
  --torrent-row-sd-fg: #ff7518;
  --torrent-row-bumped-fg: #f9ba13;

  --torrent-tag-fg: #ffffff;
  --torrent-tag-bg: transparent;
  --torrent-tag-hover-fg: #ffffff;
  --torrent-tag-hover-bg: rgba(255,255,255,0.4);
}
